<form method="post" action="/game">
  <table>
    <% for row in board.space_rows do %>
      <tr>
        <% for space in row %> 
          <td>
            <% mark = board.get_mark(space) %>
            <% disabled = mark.empty?() ? "" : "disabled" %> 
            <button type="submit" name="move" value=<%= space %> <%= disabled %>><%= mark %></button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</form>
