<form method="post" action="/game">
  <table>
    <% for row in board.rows do %>
      <tr>
        <% for space in row %> 
          <td>
            <button type="submit" name="move" value=<%= space %> <%= board.disabled(space) %>><%= board.mark(space) %></button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</form>
