<form action="/new-game" method="post">
  <select name="mode">
    <option value="hvh">Human vs Human</option>
    <option value="hvc">Human vs Computer</option>
    <option value="cvh">Computer vs Human</option>
  </select>
  <input type="submit" value="New Game">
</form>
