<table border=1>
  <% for row in result.rows do %>
    <tr>
      <% for space in row %> 
        <td bgcolor=<%= result.bgcolor(space) %>><%= result.mark(space) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<p><%= result.message %></p>
<form action="/" method="get">
  <input type="submit" value="New Game">
</form>
